.container {
  position: relative;
  width: 900px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;

  .ativado{
    background-color: #E1E1E6;
  }

  .duration {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0 ;
  }

  .option{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    div {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 400px;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
    }
    .title{
      display: block;
      flex: 10;
    }

    .methodsOrder{
      flex: 1;
      padding: 2px;
      box-shadow: 0 0 0.2px 0.5px #1E488F;
      border-radius: 5px;
      
     
      &:hover{
        background-color: #E1E1E6;
       
      }
      
    }

    .disable{
      display: none;
    }
    div:first-child {
      margin-left: 20px;
    }


  
  }

  .tabela {
    width: 100%;
    border-spacing: 0 0.5rem;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    text-align: center;
    border-collapse: separate;
    thead tr th {
      
      padding: 10px 0;
      transition: background 0.5s ease-in-out;
      &:hover{
        background-color: #E1E1E6;
        cursor: pointer;
      }
    }

    tbody {
      tr td:first-child { 
        border-top-left-radius: 5px; 
      }
      tr td:last-child { 
        border-top-right-radius: 5px; 
      }
      tr td:first-child { 
        border-bottom-left-radius: 5px; 
      }
      tr td:last-child {
        border-bottom-right-radius: 5px; 
        
      }
      tr {
        border-radius: 5px;
        box-shadow: 0 0 1px 0.5px #1E488F;
        
        &:hover{
          box-shadow: 0 0 4px 0.5px #1E488F;
          
        }       
          td{
            background-color: #fff;
            color: black;
            padding: 10px;
         }

        td.test {
          display: flex;
          text-align: center;  
          padding: 10px 0;
          svg{
            flex: 1;
            color: rgba(0,0,0,0.5);
          }
        }
      } 
    }
  }
}

@media screen and (max-width: 900px){
  .container2{
    display: flex;

    .container {
      flex: 1;
      overflow: auto;
      width: 100%;

      .tabela {
        table-layout: fixed;
        
      }
      th {
        width: 130px;
      }
    }

    .duration {
      position: relative;
     
      margin: 10px 10px 0 0 ;
    }

  }


  

  
  
  
}

